<%= image_tag @airport.image_url %>

<p>
  <strong>Name:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @airport.city %>
</p>

<p>
  <strong>IATA:</strong>
  <%= @airport.IATA %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport), class: "btn btn-link" %> |
<%= link_to 'Back', airports_path, class: "btn btn-link" %>
