<div class="row">
  <div class="col-md-4">
    <%= image_tag @airport.image_url %>

    <h2>
      <%= @airport.name %>
    </h2>

    <p>
      <strong>City:</strong>
      <%= @airport.city %>
    </p>

    <p>
      <strong>IATA:</strong>
      <%= @airport.IATA %>
    </p>

    <%= link_to "Add a Review", new_airport_review_path(@airport), class: "btn btn-info btn-lg" %>
  </div>

  <div class="col-md-8">
    <% if @reviews.blank? %>
      <h3>No Reviews Yet. Be the first to write one!</h3>
    <% else %>
      <% @reviews.each do |review| %>
        <div class="star-rating" data-score= <%= review.rating %> ></div>
        <p><%= review.description %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_airport_path(@airport), class: "btn btn-link" %> |
<%= link_to 'Back', airports_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/airport-reviews/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
