<div class="row">
  <div class="col-md-5">
    <%= image_tag @airport.image_url %>

    <h2>
      <%= @airport.name %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} reviews" %></p>
    <p>
      <strong>City:</strong>
      <%= @airport.city %>
    </p>

    <p>
      <strong>IATA:</strong>
      <%= @airport.IATA %>
    </p>

    <p>
      <% if @airport.website.blank? %>
        <strong>Website:</strong> Not Available
      <% else %>
        <strong>Website:</strong>
        <br>
        <a id="website" href="http://www.flychicago.com/Ohare/OhareHomepage.shtm"><%= @airport.website %></a>
      <% end %>
    </p>

    <%= link_to "Add a Review", new_airport_review_path(@airport), class: "btn btn-info btn-lg" %>

    <br>
    <br>

    <iframe
      width="240"
      height="230"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCaW9lJ26cwuwS4yEac_ZboyiID-F_3LLE
        &q=<%= @airport.name %>&zoom=10" allowfullscreen>
      </iframe>
  </div>

  <div class="col-md-7">
    <% if @reviews.blank? %>
      <h3>No Reviews Yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <h4><%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %></h4>
                <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
              </td>
              <td>
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= h(review.description).gsub(/\n/, '<br/>').html_safe %></p>
                <% if user_signed_in? %>
                  <% if (review.user == current_user) || (current_user.admin?) %>
                    <%= link_to "Edit", edit_airport_review_path(@airport, review) %>
                    <%= link_to "Delete", airport_review_path(@airport, review), method: :delete %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br>
    <%= will_paginate @reviews %>
  </div>
</div>

<%= link_to 'Edit', edit_airport_path(@airport), class: "btn btn-link" %> |
<%= link_to 'Back', airports_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/airport-reviews/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
